@import "@/styles/_variables.scss";
@import "@/styles/_media.scss";

.containerPage {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.headerContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 150px;
  border-bottom: 1px solid $bg-tertiary;
}

.headerContacts {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45px;
  background-color: $branding;
}

.contentContacts {
  @include container;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.socialIcons svg {
  width: 26px;
  height: 26px;
  color: $bg-primary;
  margin-right: 10px;
  transition: all 0.1s ease-in-out;

  &:hover {
    cursor: pointer;

    transform: scale(1.1);
  }
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.phone a {
  color: $text-contrast;

  &:hover {
    text-decoration: underline;
  }
}

.phone svg {
  width: 18px;
  height: 18px;
  color: $bg-primary;
  margin-right: 10px;
}

.email {
  display: flex;
  align-items: center;
  justify-content: center;
}

.email svg {
  width: 20px;
  height: 20px;
  color: $bg-primary;
  margin-right: 10px;
}

.email a {
  color: $text-contrast;

  &:hover {
    text-decoration: underline;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
}

.headerContent {
  @include container;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navList {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.navItem {
  font-family: var(--font-manual-expanded), sans-serif;
}

.navItemButtonContact {
  font-family: var(--font-manual-expanded), sans-serif;
  color: $text-contrast;
}

.navItemButtonContact .linkButton {
  text-decoration: none;
  padding: 12px 16px;
  transition: all 0.2s ease-in-out;

  background-color: $branding;
  color: $text-contrast;
  border-radius: $border-xl;
  border: 2px solid transparent;

  &:hover {
    border: 2px solid $branding;
    background-color: $bg-primary;
    color: $text-branding;
  }
}

.navLink.active {
  color: $branding;
}

.navLink {
  text-decoration: none;
  color: white;
  /* padding: 8px 16px; */
  border-radius: 4px;
  transition: background-color 0.3s ease;

  &:hover {
    color: $text-branding;
  }
}
