@import "@/styles/_variables.scss";
@import "@/styles/_media.scss";

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  padding: 60px 0;

  @include md() {
    padding: 20px;
  }
}

.containerCarouselClients {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 260px;
  height: 120px;
  border-radius: $border-default;
  background-color: $bg-secondary;
  margin-right: 16px;

  span {
    color: $text-body;
    font-family: var(--font-manual-expanded), sans-serif;
  }
}

.dividerSpace {
  margin: 10px 0;
}
