@import "@/styles/_variables.scss";
@import "@/styles/_media.scss";

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  padding: 60px 0;
  position: relative;

  @include md() {
    padding: 20px;
  }
}

.content {
  @include container;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

.cardsWrapper {
  flex: 0.3;
  .card {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    padding: 30px 20px;
    width: 100%;
    background-color: $bg-secondary;
    border-radius: $border-default;
    margin-bottom: 10px;

    svg {
      width: 40px;
      height: 40px;
      color: $branding;
    }

    .text {
      margin-left: 20px;
      h3 {
        color: $branding;
        margin-bottom: 10px;
      }

      a {
        color: $text-body;
      }
    }
  }
}

.formWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
