@import "@/styles/_variables.scss";
@import "@/styles/_media.scss";

.anchorButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 12px 26px;
  transition: all 0.2s ease-in-out;

  background-color: $branding;
  color: $text-contrast;
  border-radius: $border-xl;
  border: 2px solid transparent;
  font-family: var(--font-manual-expanded), sans-serif;

  &:hover {
    border: 2px solid $branding;
    background-color: $bg-primary;
    color: $text-branding;
  }

  svg {
    width: 26px;
    height: 26px;
    margin-left: 10px;
  }
}
